constraints: aeson ==0.7.0.4,
             ansi-terminal ==0.6.1.1,
             array ==0.4.0.1,
             attoparsec ==0.10.4.0,
             base ==4.6.0.1,
             base64-bytestring ==1.0.0.1,
             blaze-builder ==0.3.3.2,
             blaze-builder-conduit ==1.1.0,
             blaze-html ==0.7.0.2,
             blaze-markup ==0.6.1.0,
             byteorder ==1.0.4,
             bytestring ==0.10.0.2,
             case-insensitive ==1.0.0.1,
             conduit ==1.1.2.1,
             conduit-extra ==1.1.0.3,
             containers ==0.5.0.0,
             data-default ==0.5.3,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.3.0.1,
             directory ==1.2.0.1,
             dlist ==0.7.0.1,
             exceptions ==0.6.1,
             fast-logger ==2.1.5,
             filepath ==1.3.0.1,
             ghc-prim ==0.3.0.0,
             hashable ==1.1.2.5,
             herd3 ==0.0.1,
             http-date ==0.0.4,
             http-types ==0.8.4,
             integer-gmp ==0.5.0.0,
             lifted-base ==0.2.2.2,
             mmorph ==1.0.3,
             monad-control ==0.3.3.0,
             mtl ==2.1.2,
             nats ==0.2,
             network ==2.4.1.2,
             network-conduit ==1.1.0,
             old-locale ==1.0.0.5,
             old-time ==1.1.0.1,
             parsec ==3.1.3,
             pretty ==1.1.1.0,
             primitive ==0.5.0.1,
             random ==1.0.1.1,
             regex-base ==0.93.2,
             regex-compat ==0.95.1,
             regex-posix ==0.95.2,
             resourcet ==1.1.2.2,
             rts ==1.0,
             scientific ==0.2.0.2,
             scotty ==0.7.2,
             semigroups ==0.14,
             simple-sendfile ==0.2.14,
             streaming-commons ==0.1.2.4,
             stringsearch ==0.3.6.5,
             syb ==0.4.0,
             template-haskell ==2.8.0.0,
             text ==0.11.3.1,
             time ==1.4.0.1,
             transformers ==0.3.0.0,
             transformers-base ==0.4.2,
             unix ==2.6.0.1,
             unix-compat ==0.4.1.1,
             unix-time ==0.2.2,
             unordered-containers ==0.2.3.0,
             vault ==0.3.0.3,
             vector ==0.10.0.1,
             void ==0.6.1,
             wai ==2.1.0.2,
             wai-extra ==2.1.1.1,
             wai-logger ==2.1.1,
             wai-middleware-static ==0.5.0.0,
             warp ==2.1.5.1,
             word8 ==0.0.4,
             zlib ==0.5.4.1,
             zlib-conduit ==1.1.0
